---
import Layout from "../layouts/Layout.astro";
import { getAbout } from "../microcms";

const res = await getAbout();
---

<Layout title="about | Sample Web">
  <main>
    <h1 class="title">about</h1>
    <div class="content" set:html={res.about} />
  </main>
</Layout>

<style>
  main {
  }
  .content {
    figure {
      margin-inline: auto;
    }
    img {
      max-width: 60ch;
      height: auto;
    }
  }
</style>
