---
import Layout from "../layouts/Layout.astro";
import CafeContent from "../components/CafeContent.astro";
---

<Layout title="cafe | Sample Web">
  <main>
    <h1 class="title">cafe</h1>
    <CafeContent />
  </main>
</Layout>

<style>
  main {
  }
</style>
