---
import Layout from "../layouts/Layout.astro";

---

<Layout title="contact | Sample Web">
  <main>
    <h1 class="title">contact</h1>
    <div>
      <a href="https://amam-plus.com/inquiry">お問い合わせフォーム(stores)</a>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
