---
import Layout from "../layouts/Layout.astro";
import TopImageSwiper from "../components/TopImageSwiper.astro";
---

<Layout title="Sample Web" invertHeaderColorOnPageScroll={true}>
  <main>
    <div class="top-image-swiper">
      <TopImageSwiper />
    </div>
    <div class="contents">
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 0;
  }
  .top-image-swiper {
    margin-top: calc(var(--header-height) * -1);
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .contents {
    position: relative;
    padding: 5rem var(--main-padding-horizontal) 3rem var(--main-padding-horizontal);
  }
</style>

