---
import Layout from "../layouts/Layout.astro";
import TopImageSwiper from "../components/TopImageSwiper.astro";
---

<Layout title="Sample Web" invertHeaderColorOnPageScroll={true}>
  <main class="home">
    <div class="top-image-swiper">
      <TopImageSwiper />
    </div>
    <div class="contents">
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1 class="title">news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 0;
  }
  .top-image-swiper {
    position: relative;
    top: 0;
    left: 0;
    margin-top: calc(var(--header-height) * -1);
    width: 100vw;
    height: 100vh;
  }
  .contents {
    position: relative;
    padding: 5rem 0 3rem 0;
    width: var(--main-width);
    max-width: var(--main-max-width);
    margin: 0 auto;
  }
</style>

