---
import Layout from "../layouts/Layout.astro";
import TopImageSwiper from "../components/TopImageSwiper.astro";
---

<Layout title="Sample Web">
  <main>
    <TopImageSwiper />
    <div class="contents">
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
    </div>

  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  .contents {
    position: absolute;
    top: 100vh;
    left: 0;
  }
</style>
