---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getNewsPosts } from "../microcms";

const posts = await getNewsPosts();
---

<Layout title="Sample Web">
  <main>
    <ul>
      {
        posts.map(post => (
          <li>
            <Image src={post.thumbnail.url} alt={post.title} width={200} height={200} />
            <a href={"news/"+post.id}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
