---
import Layout from "../layouts/Layout.astro";
import TopImageSwiper from "../components/TopImageSwiper.astro";
---

<Layout title="Sample Web">
  <main>
    <div>
      <TopImageSwiper />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
