---
import Layout from "../layouts/Layout.astro";
import TopImageSwiper from "../components/TopImageSwiper.astro";
---

<Layout title="Sample Web">
  <main>
    <div class="top-image-swiper">
      <TopImageSwiper />
    </div>
    <div class="contents">
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
      <h1>news</h1>
      <p>
      aaaaaaaaaaaaaa
      </p>
    </div>


  </main>
</Layout>

<style>
  .top-image-swiper {
    margin-top: calc(var(--header-height) * -1);
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .contents {
    position: relative;
  }
</style>
