---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getNewsPosts } from "../microcms";

const response = await getNewsPosts();
---

<Layout title="Sample Web">
  <main>
    <ul>
      {
        response.contents.map((content) => (
          <li>
            <Image src={content.thumbnail.url} alt={content.title} width={200} height={200} />
            <a href={"news/"+content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
