---
import Layout from "../layouts/Layout.astro";
import WebstoreContent from "../components/WebstoreContent.astro";
---

<Layout title="webstore | Sample Web">
  <main>
    <h1 class="title">webstore</h1>
    <WebstoreContent />
  </main>
</Layout>

<style>
  main {
  }
</style>
