---
import Layout from "../layouts/Layout.astro";

---

<Layout title="webstore | Sample Web">
  <main>
    <h1 class="title">webstore</h1>
    <div>
      <a href="https://amam-plus.com">Webストア(stores)</a>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
