---

---

<footer>
  <div class="footer-content">
    <h1 class="logo">AMAM+</h1>
    <div class="profile">
      <p>AMAM＋（アマムプリュ）菓子店</p>
      <p>北海道札幌市中央区南十五条西17丁目3-30</p>
    </div>
    <p class="copyright">© 2024 AMAM+</p>
  </div>
</footer>

<style>
  footer {
    margin: 6rem auto 1rem;
    border-top: .1rem solid rgba(18, 18, 18,.08);
    width: 95%;
  }

  footer * {
    color: var(--main-fg-color);
  }

  .footer-content {
    margin: 4rem 5.5rem 1rem;
  }

  .footer-content p {
    margin: 0;
  }

  .footer-content .logo {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: .22rem;
    line-height: 1.2;
  }

  .footer-content .profile {
    margin: 2rem 0;
  }

  .footer-content .copyright {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

</style>
