---

---

<header>
  <h1 class="logo">
    <a href="/">AMAM+</a>
  </h1>
  <nav>
    <div class="hamburger">
      <div>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <div class="nav-links">
      <div class="hamburger-expanded-blank"></div>
      <div>
        <a href="/news">news</a>
      </div>
      <div>
        <a href="/about">about</a>
      </div>
      <div></div>
      <div>
        <a href="/webstore">webstore</a>
      </div>
      <div>
        <a href="/contact">contact</a>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg-color);
  }

  header .logo {
    position: fixed;
    width: 100%;
    z-index: 15;
    text-align: center;
    margin-top: 0.7rem;
  }

  header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 300;
  }

  header nav {
    position: fixed;
    width: 100%;
    z-index: 15;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .hamburger > div {
    width: 60%;
    height: 80%;
    margin: auto auto;
  }

  .hamburger .line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 12px 0;
    background-color: #fff;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin-top: 0.8rem;
  }

  .nav-links > div {
    margin: auto;
    background-color: var(--header-bg-color);
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
  }

  .expanded {
    display: unset;
  }

  .hamburger-expanded-blank {
    background: none;
    width: 100%;
    height: 4rem;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: grid;
      grid-template-columns: 1fr 1fr 13rem 1fr 1fr;
      width: 100%;
    }

    .nav-links > div {
      background: none;
    }

    .hamburger, .hamburger-expanded-blank { 
      display: none;
    }
  }
</style>

<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".nav-links").classList.toggle("expanded");
  });
</script>
