---
import webstoreImage from "../images/webstore.webp";
import LinkButton from "../components/LinkButton.astro";
import { Image } from "astro:assets";
---

<p>
  <Image src={webstoreImage} alt="web store image" />
</p>
<p class="center-description">
  WEBでも商品を販売しております <br>
  ※現在不定期の販売となっております
</p>
<LinkButton href="https://amam-plus.com/" isExternal={true}>WEBSTOREへ行く</LinkButton>

<style>
  .center-description {
    text-align: center;
    margin: 2rem 0;
  }

  img {
    width: 95%;
    height: 400px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 0 65%;
  }
</style>
